body {
    font-family: Arial, sans-serif;
    background-color: beige;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1, h2 {
    text-align: center;
    color: #333;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f4f4f9;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Booking Container */
.booking-container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.house-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #555;
}

input[type="date"], input[type="number"], button {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

input[type="number"] {
    margin-bottom: 10px;
}

button {
    background-color: #b09e3f;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #466def;
}

input[type="date"], input[type="number"] {
    background-color: #f9f9f9;
    border-radius: 4px;
}

@media screen and (max-width: 768px) {
    .booking-container {
        width: 80%;
    }
}
